.footer {
    padding: 20px;
    text-align: center;
    color: var(--text-secondary);
    font-family: monospace;
    font-size: 0.8rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.social-links a {
    color: var(--text-secondary);
    transition: var(--transition);
}

.social-links a:hover {
    color: var(--primary-color);
    transform: translateY(-3px);
}